.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hourly {
  height: 530px;
  width: 550px;
  background-color: black;
  color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-style: solid;
  border-width: 10px;
  float: left;
}

.hourlyInfo {
  color: white;
  float: left;
  width: 100%;
  height: 420px;
  padding-bottom: 30px;

}

/* .iconweather{
  width: 100px;
} */
.hourly::-webkit-scrollbar {
  width: 10px;
}

.hourly::-webkit-scrollbar-thumb {
  background-color: gray;
  width: 5px;
}

.hourly::-webkit-scrollbar-track {
  border: solid 0.2px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 3px 0px;
}

.ulWeather {
  list-style: none;
  font-weight: 500;
}

.bgLocation {
  background-color: rgb(193, 190, 190);
}

.weatherinfo {
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  float: left;
  width: 100%;
}
.informationWeather2{
  padding-right: 60px;
}
.InHourlyWeatherMedia{
  width: 100%;
}
.HourlyWeatherMedia{
   width: 100%;
   overflow-x: scroll;
   text-align: right;
}

@media screen and (min-width:300px) and (max-width:767px) {
  
  .weatherinfo{
    width: 100%;
    padding: 0px;
  }
  .weatherxl{
    display: none;
  }
  .informationWeather2{
    display: none;
  }
  .MediaHourly{
    width: 100%;
  }
}

  
 
  

  